<h1>Pages#home</h1>


<%if current_user%>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete%>   

    <%if current_user.admin == true%>
        <%= link_to 'View All Projects', pages_projects_path %>   

        <%= render '/pages/project_study'%>
        <%= bar_chart @intent, download: true %> 

        <%= render '/pages/phase_study' %>
        <%= bar_chart @phase_list, download: true%> 
        
    <%end%>

<%else%>
    <%= link_to 'Sign Up', new_user_registration_path%>
    <%= link_to 'Login', new_user_session_path%>
<%end%>
