    <%if current_user%>
            <h1 class="mt-4">Dashboard</h1>    
            <%if current_user.admin == false%>
                <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">
                        <div><%= link_to 'View Projects', projects_path, class:'each_card_text' %></div>   
                    </div>
                </div>
                </div>
                
            <%end%> 
            <%if current_user.admin == true%>
        <ol class="breadcrumb mb-4">
            
            <li class="breadcrumb-item active">Admin</li>
        </ol>

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body"><%= link_to 'T&M Categories', categories_path, class:'each_card_text' %> </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body"><%= link_to 'All Projects', pages_projects_path, class:'each_card_text' %>  </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body"><%= link_to 'Generated Reports', categories_path, class:'each_card_text' %>  </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body"><%= link_to 'Administrators', categories_path, class:'each_card_text' %></div>   
                </div>
            </div>
        </div>
            
        <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                        <%= render '/pages/project_study'%>
                </div>
               
                <%= bar_chart @intent, download: true %>
                </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <%= render '/pages/phase_study' %>
                </div>
                    <%= bar_chart @phase_list, download: true%> 
            </div>
        </div>
    <%end%>

<%else%>
    <%= link_to 'Sign Up', new_user_registration_path%>
    <%= link_to 'Login', new_user_session_path%>
<%end%>
