
<%= form_with(model: project, method: :post) do |f|%>
      <div>
        <%= f.label 'RxC', :RxC %>
        <%= f.text_field :RxC %>
    </div>

    <div>
        <%= f.label :project_type %>
        <%= f.select :project_type, ['','NPB-New Plan Build', 'NPB-Maintenance', 'ASO-New Plan Build', 'ASO-Maintenance', 'EHB-New Plan Build', 'EHB-Maintenance', 'NIHP-New Plan Build', 'NIHP-Maintenance', 'RMHP-New Plan Build', 'RMHP-Maintenance', 'Correction Ticket', 'Non-PhBIT Maintenance', 'Inquiry', 'Internal Ticket', 'HDL'] %>
    </div>

    <div >
        <%= f.label :state %>
        <%= f.text_area :state %>
    </div>

    <div>
        <%= f.label :ticket_level %>
        <%= f.select :ticket_level, ['','1','2','3','4','5'] %>
    </div>

    <div>
        <%= f.label :classification %>
        <%= f.select :classification, ['','Pre-tool', 'Post-tool'] %>
        <div>Leave Blank if comparing phases</div>
    </div>

    <div>
        <%= f.label :intent %>
        <%= f.collection_select :intent, Category.order(:intent), :intent, :intent %>
    </div>

    <div>
        <%= f.label :workflow_date %>
        <%= f.date_field :workflow_date %>
    </div>

    <div>
        <%= f.number_field :user_id, id: :project_user_id, value: current_user.id, type: :hidden %>
    </div>

    <div>
        <%= f.submit %>
    </div>

<% end %>
