<div>
<%= link_to 'Add Project', new_project_path%>
</div>

<table>
<% @projects.each do |p| %>
    <tr>
    <td><%= p.id %></td>
    <td><%= link_to p.RxC, project_phases_path(p.id) %></td>
    <td><%= p.project_type %></td>
    <td><%= p.intent %></td>
    <td><%= p.classification %></td>
    <td><%= p.state %></td>
    <td><%= p.workflow_date %></td>
    <td><%= p.ticket_level %></td>
    <td><%= p.hours_spent %></td>
    <td><%= p.notes %></td>
    </tr>
<% end %>

</table>

<%= @sum %>
