
<%= form_with(model: category, method: :post) do |form| %>
  <div>
    <%= form.label :intent %>
    <%= form.text_field :intent %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :due %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :category_user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <div id="action-container">
      <%= form.submit %>
    </div>
  </div>

<% end %>
