
<%= form_with scope: :phase, model: @phase, local:true do |f|%>
    <div class="field-task">
        <%= f.label :step, 'Add New Phase' %>
        <%= f.collection_select :step, @steps.order(:title), :title, :title %>
        <%= f.submit %>
    </div>

        <%= f.number_field :user_id, id: :category_user_id, value: current_user.id, type: :hidden %>

<% end %>


