<div>
<%= link_to 'New Phase', new_project_phase_path(@project, @phase)%>
</div>

<table>

<table>
    <tr>
        <td>Step</td>
        <td></td>
        <td>Start Time</td>
        <td></td>
        <td>End Time</td>
        <td>Duration (min)</td>
        <td>Remarks</td>
    </tr>

    <% @project.phases.each do |phase| %>
    <tr>
        <td><%= phase.step %></td>
        <% if phase.start_time == nil %>
            <td><%= render partial: '/phases/form_start', locals: { phase: phase } %></td>
        <% end %>
        <td><%= phase.start_time %></td>
        <% if phase.end_time == nil && phase.start_time != nil %>
            <td><%= render partial: '/phases/form_end', locals: { phase: phase } %></td>
        <% end %>
        <td><%= phase.end_time %></td>
        <td><%= phase.durationinmin %></td>
        <td><%= phase.remarks %></td>
        <td><%= phase.id %></td>
    </tr>
    <% end %>
</table>

<%= Time.now %>
